.projects-page-section {
    background: rgb(255, 255, 255);
    min-height: 100vh;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
}
.projects-section-wrapper {
    max-width: 1300px;
    background: white;
    min-height: 90vh;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    color: white;
    width: 100%;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        34deg,
        rgba(255, 255, 255, 1) 0%,
        var(--primary-dark) 25%,
        rgb(12, 106, 122) 29%
    );
}
.projects-search-bar {
    padding: 0.3rem;
    justify-content: center;
    max-width: 300px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
    padding: 1em;
    max-height: 70vh;
    overflow: scroll;
    scrollbar-width: 1px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.projects-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.header-project > h5 {
    margin: 0;
    font-size: 1em;
}
.header-project {
    background: var(--primary-dark);
    text-transform: uppercase;
    color: white;
    padding: 0.1rem;
    opacity: 0.4;
}
.body-project {
    text-align: left;
    padding: 0.3rem;
}
.body-project > p {
    margin: 0;
}
.project-container {
    max-width: 800px;
    border-radius: 5px;
    overflow: hidden;
    background: rgb(245, 245, 245);
    box-shadow: 0px 0px 10px rgb(102, 102, 102),
        inset 0px 0px 10px rgb(170, 170, 170);
}

.project-link {
    text-decoration: none;
    color: black;
    opacity: 0;
}
.project-link:hover {
    color: black;
}

.show-project {
    opacity: 1;
    animation-name: showProject;
    animation-duration: 1s;
}

@keyframes showProject {
    0% {
        transform: translatex(10%);
    }
    100% {
        transform: translatex();

        opacity: 1;
    }
}
