.sidebar {
    position: absolute;
    left: 0;
    width: 180px;
    height: 100%;
    background: var(--primary-dark);
    padding: 2.3vh 1vw;
    transition: all ease-in-out 0.7s;
}
.toggle-btn {
    position: absolute;
    font-size: 2rem;
    right: 0px;
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.7s;
    color: white;
}
.hidden {
    left: -147px;
}
.turn-arrow {
    transform: rotate(180deg);
}
